
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Other
@import "margins";
@import "type_tags";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

table, th, td {
  border: 1px solid darkgrey;
}

th {
  padding: 5px;
}

body .content.main {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.center {
  align-items: center;
  vertical-align: center;
  justify-content: center;
  width: 65%;
  margin: auto;
}

.selected {
  background: #dcdcdc;
}

.right {
  float: right;
}

.left {
  float: left;
}

.content {
  text-align: center;
  display: block;
}

.title {
  font-size: 60px;
}

.links > a {
  color: #636b6f;
  padding: 5px 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.clear {
  clear: both;
}