.tag {
  padding: 2px 5px;
  border-radius: 5px;
  margin-right: 5px;
  color: #fff;
}

.base {
  background: #97a7a0;
}

.base-non-link {
  background: #535f58;
}

.poison {
  background: #A33EA1;
}

.grass {
  background: #7AC74C;
}

.normal {
  background: #A8A77A;
}

.fighting {
  background: #C22E28;
}

.flying {
  background: #A98FF3;
}

.ground {
  background: #E2BF65;
}

.fire {
  background: #EE8130;
}

.steel {
  background: #B7B7CE;
}

.electric {
  background: #F7D02C;
}

.water {
  background: #6390F0;
}

.ice {
  background: #96D9D6;
}

.psychic {
  background: #F95587;
}

.bug {
  background: #A6B91A;
}

.rock {
  background: #B6A136;
}

.ghost {
  background: #735797;
}

.dragon {
  background: #6F35FC;
}

.dark {
  background: #705746;
}

.fairy {
  background: #D685AD;
}